

@import "./fonts/tenorsans.css";
@import "./fonts/notosanstc.css";
.tenor-sans-regular {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.noto-font {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
}

/*button color redesign */
.btn-primary {
  --bs-btn-color: white;
}
.btn-primary:hover {
  --bs-btn-hover-color: white;
}

.btn-outline-primary:hover {
  --bs-btn-hover-color: white;
}
.btn-outline-secondary:hover {
  --bs-btn-hover-color: white;
}

.btn-outline-800:hover {
  --bs-btn-hover-color: white;
}
.btn-outline-primary.btn.active,.btn-outline-primary.btn:first-child:active{
  --bs-btn-active-color: white;
 
}


/* RWD setting*/

  h1 {font-size:1.125rem;} /*18px*/
  h3 {
    font-size:1rem;/*16px*/
    color: var(--bs-gray-800);
  } 
  h4 {
    font-size:0.875rem;/*14px*/
    color: var(--bs-gray-800);
  } 
  .price{
    font-size:0.875rem;/*14px*/
    color: var(--bs-primary);
  }
  .q-btn{font-size:1rem}/*16px*/


/* Small devices (landscape phones, 375px and up) */
@media (min-width: 375px) {  

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:4rem;} /*64px*/
  h3 {font-size:1.5rem}/*24px*/
  h4 {font-size:1.25rem}/*20px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .price{font-size:2rem}/*32px*/
  .q-btn{font-size:1.5rem}/*24px*/
}
 