

@import "./fonts/tenorsans.css";
@import "./fonts/notosanstc.css";
.tenor-sans-regular {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.noto-font {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
}

/*button color redesign */
.btn-primary {
  --bs-btn-color: white;
}
.btn-primary:hover {
  --bs-btn-hover-color: white;
}

.btn-outline-primary:hover {
  --bs-btn-hover-color: white;
}
.btn-outline-secondary:hover {
  --bs-btn-hover-color: white;
}

.btn-outline-800:hover {
  --bs-btn-hover-color: white;
}
.btn-outline-primary.btn.active,.btn-outline-primary.btn:first-child:active{
  --bs-btn-active-color: white;
 
}


/* RWD setting*/
/* 1.125rem;18px */
/* 1 rem = 16px*/
/* 0.875rem;14px */
/* 1.25rem 20px */
/* 1.5rem 24px */
/* 2rem 32px */
/* 4rem; 64px */

.font-sm {
  font-size: clamp( 0.875rem, 2.5vw, 1rem);
}



  h1 {font-size:1.125rem;}
  h3 {
    font-size:1rem;
    color: var(--bs-gray-800);
  } 
  h4 {
    font-size:0.875rem;
    color: var(--bs-gray-800);
  } 
  .price{
    font-size:0.875rem;
    color: var(--bs-primary);
  }
  .q-btn{font-size:1rem}
  .icon-size{
    width: 1.2rem;
    height: 1.2rem;
  }
  .icon-font-size{
    font-size: 1rem;
  }
  .font-small {
    font-size: 0.875rem;
  }
/* Small devices (landscape phones, 375px and up) */
@media (min-width: 375px) {  
 

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  h1 {font-size:1.5rem;} 
  h4 {font-size:1rem;} 
  .icon-size{
    width: 24px;
    height: 24px;
  }
  .icon-font-size{
    font-size: 1.125rem;
  }
  .price{font-size:1.125rem};
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} 

}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:4rem;} 
  h3 {font-size:1.5rem}
  h4 {font-size:1.25rem}
  .price{font-size:1.5rem}

}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .price{font-size:2rem}
  .q-btn{font-size:1.5rem}
}
 




/* 捲軸寬度及高度 */
::-webkit-scrollbar {
  width: 10px; /*右側捲軸寬度*/
  height: 10px; /*下方捲軸高度*/
}
/* 軌道背景底色 */
::-webkit-scrollbar-track {
  background: var(--bs-gray-200); 
}
 
/* 滑桿顏色 */
::-webkit-scrollbar-thumb {
  background: var(--bs-primary); 
}
